{% extends 'template.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'style/despre.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<div class="grid-container">
	<div class="container-universal">
		<h1>Motivul pentru care am ales aceasta tema: </h1>
		<h3>Îmi plac mașinile care Porsche le produc, dar și modul în care au scructurat site-ul și am dorit să fac și
			eu o versiune de a mea în care să folosesc modele 3D</h3>
	</div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}